@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: normal;
    src: url("/statics/fonts/IRANSansWeb\(FaNum\).woff2") format("woff2")
}

body {
    font-family: IranSans;
    direction: rtl !important;
    display: flexbox;
}


footer{
    background-color: rgb(203, 203, 247);
}